* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Arial, sans-serif;
}
.navbar{
    background-color: darkgreen;
    height: 10px;
    color: aliceblue;
    
}




   